:root{
   --Light-Cyan: hsl(193, 38%, 86%);
   --Neon-Green: hsl(150, 100%, 66%);
--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%)
}


body{
   background-color: var(--Dark-Blue);
   min-height: 100vh;
   font-family: "Manrope", serif;

}
#adviceCard{
   background-color: var(--Dark-Grayish-Blue);
   padding: 1.1rem;
   color: var(--Light-Cyan);
   box-shadow: rgba(0, 0, 0, 0.153) 0px 5px 20px;
}
.quote{
   color: var(--Light-Cyan);
   font-size: 28px;
   font-weight: 700;
}
.header{
   font-weight: 600;
   color: var(--Neon-Green);
   letter-spacing: 4px;
   font-size: 14px;
}
#btn{
   background-color: var(--Neon-Green);
   padding: 10px;
   border-radius: 100%;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   transform: translateY(40px);
}

#btn:hover{
   background-color: var(--Neon-Green);
      box-shadow: var(--Neon-Green) 5px 10px 25px;
}
